Implement/WSWrapper/src/META-INF/wsdl/localhost_8084/WebService1/book.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="bookService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8084/WebService1/book?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="book">
<part name="parameters" element="tns:book"></part>
</message>
<message name="bookResponse">
<part name="parameters" element="tns:bookResponse"></part>
</message>
<message name="cancelBookRoom">
<part name="parameters" element="tns:cancelBookRoom"></part>
</message>
<message name="cancelBookRoomResponse">
<part name="parameters" element="tns:cancelBookRoomResponse"></part>
</message>
<message name="getListRoom">
<part name="parameters" element="tns:getListRoom"></part>
</message>
<message name="getListRoomResponse">
<part name="parameters" element="tns:getListRoomResponse"></part>
</message>
<message name="bookRoom">
<part name="parameters" element="tns:bookRoom"></part>
</message>
<message name="bookRoomResponse">
<part name="parameters" element="tns:bookRoomResponse"></part>
</message>
<portType name="book">
<operation name="book">
<input message="tns:book"></input>
<output message="tns:bookResponse"></output>
</operation>
<operation name="cancelBookRoom">
<input message="tns:cancelBookRoom"></input>
<output message="tns:cancelBookRoomResponse"></output>
</operation>
<operation name="getListRoom">
<input message="tns:getListRoom"></input>
<output message="tns:getListRoomResponse"></output>
</operation>
<operation name="bookRoom">
<input message="tns:bookRoom"></input>
<output message="tns:bookRoomResponse"></output>
</operation>
</portType>
<binding name="bookPortBinding" type="tns:book">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="book">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelBookRoom">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListRoom">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bookRoom">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="bookService">
<port name="bookPort" binding="tns:bookPortBinding">
<soap:address location="http://localhost:8084/WebService1/book"></soap:address>
</port>
</service>
</definitions>