trunk/Implement/BookAgenClient/xml-resources/web-service-references/HotelRegister/wsdl/localhost_8084/BookAgent/HotelRegister.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="submit" type="tns:submit"></xs:element>

<xs:element name="submitResponse" type="tns:submitResponse"></xs:element>

<xs:complexType name="submit">
<xs:sequence>
<xs:element name="hotel" type="tns:hotelDTO" minOccurs="0"></xs:element>
<xs:element name="rooms" type="tns:roomDTO" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelDTO">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="detail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="room" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomDTO">
<xs:sequence>
<xs:element name="cost" type="xs:int"></xs:element>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>